body {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.title {
    text-align: center;
    color: red;
    /*margin: 0 15em 0 15em */
}

.new-item {
    border: black 1px solid;
    height: 1.7em;
}

.add-item,
.delete-selected {
    color: white;
    background-color: red;
    border-radius: 5px;
    border-color: none;
    height: 1.9em;
}

.shop-list {
    text-align: center;
    /* margin: auto; */
    width: 25em;
    margin: 0 auto;
}

ul {
    list-style-type: none;
    /*margin: 0 15em 0 15em;
    width: 25em; */
}

li {
    /*padding: 0 5em 0 5em;m*/
    /*margin: .3em 0 .3em 0; */
    margin-top: 0.3em;
    border: black 2px solid;
    border-radius: 0.7em;
    margin-right: 2em;
    height: 1.7em;
}

li.purchased {
    text-decoration: line-through;
}

.delete {}
